email-to-sheets-ai-extractor.json
{
  "name": "AI Email Information Extractor to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c643e7c1-c94a-4ad2-9cc2-6948e1e5b24d",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "text": "={{ $json.textAsHtml }}",
        "attributes": {
          "attributes": [
            {
              "name": "Nombre",
              "description": "La persona que realiza la solicitud"
            },
            {
              "name": "Profesor",
              "description": "El profesor al que se le pide ayuda"
            },
            {
              "name": "Solicitud",
              "description": "Resumen de lo que pide el estudiante en no mas de 100 palabras"
            },
            {
              "name": "Fecha",
              "description": "La fecha en la que se hace la solicitud"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "1b1a8ff8-6b81-445d-bc3a-ee3d1d50505c",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "50d0c134-194a-4f4f-8311-160d9a15f3a7",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.output.Nombre }}",
            "Profesor": "={{ $json.output.Profesor }}",
            "Solicitud": "={{ $json.output.Solicitud }}",
            "Fecha": "={{ $('Gmail Trigger').item.json.headers.date }}"
          },
          "matchingColumns": [
            "Nombre"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Profesor",
              "displayName": "Profesor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Solicitud",
              "displayName": "Solicitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        0
      ],
      "id": "e765b04a-153c-42e4-8a01-cac7cac76204",
      "name": "Append row in sheet"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}