pdf-data-extractor-ai.json
{
  "name": "AI PDF Data Extractor to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c6224da0-ef88-4ac9-80a4-59b12ae75922",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "734bc946-89af-4d26-bb2c-cb334b1ede0b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extrae los siguientes datos del documento:\n\n- Fecha\n- Nombre Acreedor\n- Monto (Total adeudado)\n- Dirección\n- Consumo\n\nReglas:\n- Si un dato no existe, devuelve null\n- El monto debe mantenerse como aparece en el texto (no lo conviertas)\n- La fecha debe estar en formato YYYY-MM-DD si es posible\n\nDevuelve SOLO un JSON válido, sin texto adicional, sin markdown.\n\nFormato de salida:\n{\n  \"fecha\": \"$fecha\",\n  \"nombre_acreedor\": \"$nombre_acreedor\",\n  \"monto\": \"$monto\",\n  \"direccion\": \"$direccion\",\n  \"consumo\": \"$consumo\"\n}\n\nTexto:\n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "058f1a45-a789-4c0f-b310-cf429b88b1e8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        416,
        224
      ],
      "id": "c355c598-a3ec-490b-b455-059a51041733",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n \n  const raw = item.json.output;\n\n  // 1. Limpiar markdown ```json ```\n  const cleaned = raw\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  // 2. Convertir a JSON\n  let parsed;\n  try {\n    parsed = JSON.parse(cleaned);\n  } catch (error) {\n    throw new Error('Error parseando JSON: ' + cleaned);\n  }\n\n  // 3. Limpiar monto a número\n  if (parsed.monto) {\n    parsed.monto_num = Number(\n      parsed.monto\n        .replace(/\\$/g, '')\n        .replace(/,/g, '')\n        .replace(/\\./g, '') // por si viene formato LATAM\n        .trim()\n    );\n  }\n\n  // 4. Agregar asunto desde Gmail\n  parsed.asunto = item.json.subject || null;\n\n  // 5. Normalizar nombres de campos (por seguridad)\n  return {\n    json: {\n      fecha: parsed.fecha || null,\n      nombre_acreedor: parsed.nombre_acreedor || null,\n      monto: parsed.monto || null,\n      monto_num: parsed.monto_num || null,\n      direccion: parsed.direccion || null,\n      consumo: parsed.consumo || null,\n      asunto: parsed.asunto\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "982183e0-d2cc-4341-a4b5-f706e7884d04",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ejemplo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ $json.fecha }}",
            "Nombre Acreedor": "={{ $json.nombre_acreedor }}",
            "monto": "={{ $json.monto }}",
            "monto_num": "={{ $json.monto_num }}",
            "direccion": "={{ $json.direccion }}",
            "consumo": "={{ $json.consumo }}",
            "asunto": "={{ $('Gmail Trigger').item.json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre Acreedor",
              "displayName": "Nombre Acreedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "monto",
              "displayName": "monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "monto_num",
              "displayName": "monto_num",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "direccion",
              "displayName": "direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "consumo",
              "displayName": "consumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "asunto",
              "displayName": "asunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "3cfba0f9-a54f-454a-bf39-e946df9f9eba",
      "name": "Append row in sheet"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}